/* .formusersignup{
      height: 100%;
      width: 100%;
}
.forinput{
      height: 3rem;
      width: 100%;
} */
.blackwhite{
      background-color:#232424 ;
      color:#d5dbdb ;
      height: 1000px;
}